{:overhead 1.7223420902053117E-9,
 :samples
 (113798044 106091975 136360512 136699159 101839357 100559445),
 :runtime-details
 {:spec-vendor "Oracle Corporation",
  :spec-name "Java Virtual Machine Specification",
  :vm-version "25.0.2+10-Debian-1deb13u2",
  :name "7889@ip-172-31-19-161",
  :clojure-version-string "1.12.4",
  :java-runtime-version "25.0.2+10-Debian-1deb13u2",
  :java-version "25.0.2",
  :vm-name "OpenJDK 64-Bit Server VM",
  :vm-vendor "Debian",
  :clojure-version
  {:major 1, :minor 12, :incremental 4, :qualifier nil},
  :spec-version "25",
  :sun-arch-data-model "64",
  :input-arguments
  ["-Dfile.encoding=UTF-8"
   "-Djdk.attach.allowAttachSelf"
   "-XX:+UnlockDiagnosticVMOptions"
   "-XX:+DebugNonSafepoints"
   "-Dclj-async-profiler.output-dir=./resources/profiler_data/"
   "-XX:+TieredCompilation"
   "-XX:TieredStopAtLevel=4"
   "-Dclojure.compile.path=/home/admin/brokvolli/target/classes"
   "-Dbrokvolli.version=0-1"
   "-Dclojure.debug=false"]},
 :mean
 [1.6411869391706812E-5 (1.4903036270898273E-5 1.8278409299140455E-5)],
 :final-gc-time 78836899,
 :execution-count 7058,
 :variance
 [5.993793123253127E-12 (3.199473271057315E-12 7.767860893691046E-12)],
 :os-details
 {:arch "amd64",
  :available-processors 2,
  :name "Linux",
  :version "6.12.48+deb13-cloud-amd64"},
 :tail-quantile 0.025,
 :outlier-variance 0.4707434481388003,
 :outliers {:low-severe 0, :low-mild 0, :high-mild 0, :high-severe 0},
 :warmup-time 5051136506,
 :lower-q
 [1.4247583593085862E-5 (1.4247583593085862E-5 1.4428925616321906E-5)],
 :warmup-executions 341736,
 :sample-count 6,
 :upper-q
 [1.9319993199206576E-5 (1.59867930539813E-5 1.9367973788608675E-5)],
 :fastester/metadata
 {:fexpr
  "(fn [n] (multi/transduce partition-at concatv xform-1 tconj (vecs n)))",
  :date {:year 2026, :month "March", :day 4},
  :group "Ninety mathematical operations per element",
  :index 0,
  :ns "brokvolli.performance.processors",
  :UUIDv4 #uuid "b7800eb9-fe7a-4541-b4a4-f52c78e6e0dc",
  :name "processors-1",
  :testing-thoroughness :quick,
  :arg 1,
  :version "0-1",
  :parallel? false},
 :total-time 0.695348492,
 :sample-variance [5.560079845801989E-12 (0.0 0.0)],
 :options
 {:max-gc-attempts 100,
  :samples 6,
  :target-execution-time 100000000,
  :warmup-jit-period 5000000000,
  :tail-quantile 0.025,
  :bootstrap-size 500,
  :overhead 1.7223420902053117E-9},
 :sample-mean
 [1.641986615660716E-5 (9.345919690014562E-6 2.349381262319976E-5)],
 :results :fastester/benchmark-fn-results-elided}
