{:overhead 1.7223420902053117E-9,
 :samples
 (102479092 102029190 119389863 137662639 100286526 100191562),
 :runtime-details
 {:spec-vendor "Oracle Corporation",
  :spec-name "Java Virtual Machine Specification",
  :vm-version "25.0.2+10-Debian-1deb13u2",
  :name "7889@ip-172-31-19-161",
  :clojure-version-string "1.12.4",
  :java-runtime-version "25.0.2+10-Debian-1deb13u2",
  :java-version "25.0.2",
  :vm-name "OpenJDK 64-Bit Server VM",
  :vm-vendor "Debian",
  :clojure-version
  {:major 1, :minor 12, :incremental 4, :qualifier nil},
  :spec-version "25",
  :sun-arch-data-model "64",
  :input-arguments
  ["-Dfile.encoding=UTF-8"
   "-Djdk.attach.allowAttachSelf"
   "-XX:+UnlockDiagnosticVMOptions"
   "-XX:+DebugNonSafepoints"
   "-Dclj-async-profiler.output-dir=./resources/profiler_data/"
   "-XX:+TieredCompilation"
   "-XX:TieredStopAtLevel=4"
   "-Dclojure.compile.path=/home/admin/brokvolli/target/classes"
   "-Dbrokvolli.version=0-1"
   "-Dclojure.debug=false"]},
 :mean
 [1.5573394319248827E-4 (1.4337732723004694E-4 1.767526460093897E-4)],
 :final-gc-time 74893092,
 :execution-count 710,
 :variance
 [4.976369372956865E-10
  (1.1309498369682554E-10 8.093943982992226E-10)],
 :os-details
 {:arch "amd64",
  :available-processors 2,
  :name "Linux",
  :version "6.12.48+deb13-cloud-amd64"},
 :tail-quantile 0.025,
 :outlier-variance 0.3192313493255077,
 :outliers {:low-severe 0, :low-mild 0, :high-mild 0, :high-severe 0},
 :warmup-time 6239810273,
 :lower-q
 [1.4111487605633803E-4 (1.4111487605633803E-4 1.4143840211267605E-4)],
 :warmup-executions 43219,
 :sample-count 6,
 :upper-q
 [1.8769675440140845E-4 (1.4433674929577466E-4 1.9389104084507043E-4)],
 :fastester/metadata
 {:fexpr
  "(fn [n] (multi/transduce partition-at concatv xform-1 tconj (vecs n)))",
  :date {:year 2026, :month "March", :day 4},
  :group "Ninety mathematical operations per element",
  :index 1,
  :ns "brokvolli.performance.processors",
  :UUIDv4 #uuid "5a2b4a2e-079b-4a34-8a4a-c1b2b2f40b49",
  :name "processors-1",
  :testing-thoroughness :quick,
  :arg 10,
  :version "0-1",
  :parallel? false},
 :total-time 0.662038872,
 :sample-variance [4.6155651369970655E-10 (0.0 0.0)],
 :options
 {:max-gc-attempts 100,
  :samples 6,
  :target-execution-time 100000000,
  :warmup-jit-period 5000000000,
  :tail-quantile 0.025,
  :bootstrap-size 500,
  :overhead 1.7223420902053117E-9},
 :sample-mean
 [1.5540818591549296E-4 (9.095658684070384E-5 2.198597849902821E-4)],
 :results :fastester/benchmark-fn-results-elided}
