{:overhead 1.7220815406599923E-9,
 :samples (132633052 105003354 99945050 103544446 105211233 100287301),
 :runtime-details
 {:spec-vendor "Oracle Corporation",
  :spec-name "Java Virtual Machine Specification",
  :vm-version "25.0.2+10-Debian-1deb13u2",
  :name "8697@ip-172-31-19-161",
  :clojure-version-string "1.12.4",
  :java-runtime-version "25.0.2+10-Debian-1deb13u2",
  :java-version "25.0.2",
  :vm-name "OpenJDK 64-Bit Server VM",
  :vm-vendor "Debian",
  :clojure-version
  {:major 1, :minor 12, :incremental 4, :qualifier nil},
  :spec-version "25",
  :sun-arch-data-model "64",
  :input-arguments
  ["-Dfile.encoding=UTF-8"
   "-Djdk.attach.allowAttachSelf"
   "-XX:+UnlockDiagnosticVMOptions"
   "-XX:+DebugNonSafepoints"
   "-Dclj-async-profiler.output-dir=./resources/profiler_data/"
   "-XX:+TieredCompilation"
   "-XX:TieredStopAtLevel=4"
   "-Dclojure.compile.path=/home/admin/brokvolli/target/classes"
   "-Dbrokvolli.version=0-15"
   "-Dclojure.debug=false"]},
 :mean
 [0.007699509619047619 (0.007308767071428571 0.008742428035714286)],
 :final-gc-time 188824288,
 :execution-count 14,
 :variance
 [7.931605121321039E-7 (1.9758173260238065E-8 1.6127952963051054E-6)],
 :os-details
 {:arch "amd64",
  :available-processors 16,
  :name "Linux",
  :version "6.12.48+deb13-cloud-amd64"},
 :tail-quantile 0.025,
 :outlier-variance 0.31170658066865226,
 :outliers {:low-severe 0, :low-mild 0, :high-mild 0, :high-severe 1},
 :warmup-time 34314079019,
 :lower-q
 [0.0071389321428571425 (0.0071389321428571425 0.007171069607142857)],
 :warmup-executions 4753,
 :sample-count 6,
 :upper-q
 [0.00922709569642857 (0.007500206044642857 0.009473789428571428)],
 :fastester/metadata
 {:fexpr
  "(fn [n] (multi/transduce partition-at concatv xform-1 tconj (vecs n)))",
  :date {:year 2026, :month "March", :day 4},
  :group "Ninety mathematical operations per element",
  :index 3,
  :ns "brokvolli.performance.processors",
  :UUIDv4 #uuid "354437a0-ddfc-4164-ad62-415a41e17b36",
  :name "processors-1",
  :testing-thoroughness :quick,
  :arg 1000,
  :version "0-15",
  :parallel? false},
 :total-time 0.646624436,
 :sample-variance [7.831111260802484E-7 (0.0 0.0)],
 :options
 {:max-gc-attempts 100,
  :samples 6,
  :target-execution-time 100000000,
  :warmup-jit-period 5000000000,
  :tail-quantile 0.025,
  :bootstrap-size 500,
  :overhead 1.7220815406599923E-9},
 :sample-mean
 [0.007697909952380952 (0.005043102966040469 0.010352716938721435)],
 :results :fastester/benchmark-fn-results-elided}
