{:overhead 1.7220815406599923E-9,
 :samples
 (227752096 311825880 229452675 197220275 259456702 136758759),
 :runtime-details
 {:spec-vendor "Oracle Corporation",
  :spec-name "Java Virtual Machine Specification",
  :vm-version "25.0.2+10-Debian-1deb13u2",
  :name "8697@ip-172-31-19-161",
  :clojure-version-string "1.12.4",
  :java-runtime-version "25.0.2+10-Debian-1deb13u2",
  :java-version "25.0.2",
  :vm-name "OpenJDK 64-Bit Server VM",
  :vm-vendor "Debian",
  :clojure-version
  {:major 1, :minor 12, :incremental 4, :qualifier nil},
  :spec-version "25",
  :sun-arch-data-model "64",
  :input-arguments
  ["-Dfile.encoding=UTF-8"
   "-Djdk.attach.allowAttachSelf"
   "-XX:+UnlockDiagnosticVMOptions"
   "-XX:+DebugNonSafepoints"
   "-Dclj-async-profiler.output-dir=./resources/profiler_data/"
   "-XX:+TieredCompilation"
   "-XX:TieredStopAtLevel=4"
   "-Dclojure.compile.path=/home/admin/brokvolli/target/classes"
   "-Dbrokvolli.version=0-15"
   "-Dclojure.debug=false"]},
 :mean [0.22688226700000003 (0.18253885733333336 0.275073089)],
 :final-gc-time 1453519832,
 :execution-count 1,
 :variance
 [0.004671598315420918 (0.0015462722221143467 0.008172932494727638)],
 :os-details
 {:arch "amd64",
  :available-processors 16,
  :name "Linux",
  :version "6.12.48+deb13-cloud-amd64"},
 :tail-quantile 0.025,
 :outlier-variance 0.8134063344557813,
 :outliers {:low-severe 0, :low-mild 0, :high-mild 0, :high-severe 0},
 :warmup-time 13347991165,
 :lower-q [0.136758759 (0.136758759 0.197220275)],
 :warmup-executions 81,
 :sample-count 6,
 :upper-q [0.30152922937500004 (0.22945267500000002 0.31182588)],
 :fastester/metadata
 {:fexpr
  "(fn [n] (multi/transduce partition-at concatv xform-1 tconj (vecs n)))",
  :date {:year 2026, :month "March", :day 4},
  :group "Ninety mathematical operations per element",
  :index 5,
  :ns "brokvolli.performance.processors",
  :UUIDv4 #uuid "bf91eeea-368f-4e2f-945f-6a34f1ef5d64",
  :name "processors-1",
  :testing-thoroughness :quick,
  :arg 100000,
  :version "0-15",
  :parallel? false},
 :total-time 1.362466387,
 :sample-variance [0.003457145206206025 (0.0 0.0)],
 :options
 {:max-gc-attempts 100,
  :samples 6,
  :target-execution-time 100000000,
  :warmup-jit-period 5000000000,
  :tail-quantile 0.025,
  :bootstrap-size 500,
  :overhead 1.7220815406599923E-9},
 :sample-mean
 [0.22707773116666666 (0.0506852515768207 0.4034702107565127)],
 :results :fastester/benchmark-fn-results-elided}
