{:overhead 1.724199796207781E-9,
 :samples
 (174465188 202729427 182017778 156225519 110414634 188522140),
 :runtime-details
 {:spec-vendor "Oracle Corporation",
  :spec-name "Java Virtual Machine Specification",
  :vm-version "25.0.2+10-Debian-1deb13u2",
  :name "8137@ip-172-31-19-161",
  :clojure-version-string "1.12.4",
  :java-runtime-version "25.0.2+10-Debian-1deb13u2",
  :java-version "25.0.2",
  :vm-name "OpenJDK 64-Bit Server VM",
  :vm-vendor "Debian",
  :clojure-version
  {:major 1, :minor 12, :incremental 4, :qualifier nil},
  :spec-version "25",
  :sun-arch-data-model "64",
  :input-arguments
  ["-Dfile.encoding=UTF-8"
   "-Djdk.attach.allowAttachSelf"
   "-XX:+UnlockDiagnosticVMOptions"
   "-XX:+DebugNonSafepoints"
   "-Dclj-async-profiler.output-dir=./resources/profiler_data/"
   "-XX:+TieredCompilation"
   "-XX:TieredStopAtLevel=4"
   "-Dclojure.compile.path=/home/admin/brokvolli/target/classes"
   "-Dbrokvolli.version=0-3"
   "-Dclojure.debug=false"]},
 :mean [0.05613012800000001 (0.044702548 0.06249606377777779)],
 :final-gc-time 374292190,
 :execution-count 3,
 :variance
 [1.196514207680074E-4 (1.6058169182099222E-5 2.495225982979619E-4)],
 :os-details
 {:arch "amd64",
  :available-processors 4,
  :name "Linux",
  :version "6.12.48+deb13-cloud-amd64"},
 :tail-quantile 0.025,
 :outlier-variance 0.4828571514004403,
 :outliers {:low-severe 0, :low-mild 0, :high-mild 0, :high-severe 0},
 :warmup-time 9102586344,
 :lower-q
 [0.036804878000000006 (0.036804878000000006 0.05207517300000001)],
 :warmup-executions 209,
 :sample-count 6,
 :upper-q
 [0.06671349029166668 (0.06035790141666667 0.06757647566666668)],
 :fastester/metadata
 {:fexpr
  "(fn [n] (multi/transduce partition-at concatv xform-1 tconj (vecs n)))",
  :date {:year 2026, :month "March", :day 4},
  :group "Ninety mathematical operations per element",
  :index 4,
  :ns "brokvolli.performance.processors",
  :UUIDv4 #uuid "5ef6d885-4fb4-44b1-a452-4c92518054b5",
  :name "processors-1",
  :testing-thoroughness :quick,
  :arg 10000,
  :version "0-3",
  :parallel? false},
 :total-time 1.014374686,
 :sample-variance [1.1807840212816539E-4 (0.0 0.0)],
 :options
 {:max-gc-attempts 100,
  :samples 6,
  :target-execution-time 100000000,
  :warmup-jit-period 5000000000,
  :tail-quantile 0.025,
  :bootstrap-size 500,
  :overhead 1.724199796207781E-9},
 :sample-mean
 [0.056354149222222226 (0.023754983294955182 0.08895331514948927)],
 :results :fastester/benchmark-fn-results-elided}
