{:overhead 1.7220524107733287E-9,
 :samples (110872745 104653200 134892039 135100013 107132417 99942780),
 :runtime-details
 {:spec-vendor "Oracle Corporation",
  :spec-name "Java Virtual Machine Specification",
  :vm-version "25.0.2+10-Debian-1deb13u2",
  :name "9056@ip-172-31-19-161",
  :clojure-version-string "1.12.4",
  :java-runtime-version "25.0.2+10-Debian-1deb13u2",
  :java-version "25.0.2",
  :vm-name "OpenJDK 64-Bit Server VM",
  :vm-vendor "Debian",
  :clojure-version
  {:major 1, :minor 12, :incremental 4, :qualifier nil},
  :spec-version "25",
  :sun-arch-data-model "64",
  :input-arguments
  ["-Dfile.encoding=UTF-8"
   "-Djdk.attach.allowAttachSelf"
   "-XX:+UnlockDiagnosticVMOptions"
   "-XX:+DebugNonSafepoints"
   "-Dclj-async-profiler.output-dir=./resources/profiler_data/"
   "-XX:+TieredCompilation"
   "-XX:TieredStopAtLevel=4"
   "-Dclojure.compile.path=/home/admin/brokvolli/target/classes"
   "-Dbrokvolli.version=0-31"
   "-Dclojure.debug=false"]},
 :mean
 [1.7031003721228255E-5 (1.5456580462319486E-5 1.8766859381931096E-5)],
 :final-gc-time 85666215,
 :execution-count 6763,
 :variance
 [5.417956698081223E-12 (4.3467433007557976E-13 7.43353790242261E-12)],
 :os-details
 {:arch "amd64",
  :available-processors 32,
  :name "Linux",
  :version "6.12.48+deb13-cloud-amd64"},
 :tail-quantile 0.025,
 :outlier-variance 0.3178426268812205,
 :outliers {:low-severe 0, :low-mild 0, :high-mild 0, :high-severe 0},
 :warmup-time 5073503173,
 :lower-q
 [1.4777876681945883E-5 (1.4777876681945883E-5 1.5474375277243828E-5)],
 :warmup-executions 331093,
 :sample-count 6,
 :upper-q
 [1.9945592044950465E-5 (1.632488599733846E-5 1.9976343782345114E-5)],
 :fastester/metadata
 {:fexpr
  "(fn [n] (multi/transduce partition-at concatv xform-1 tconj (vecs n)))",
  :date {:year 2026, :month "March", :day 4},
  :group "Ninety mathematical operations per element",
  :index 0,
  :ns "brokvolli.performance.processors",
  :UUIDv4 #uuid "a7977d16-e504-4b63-9769-e020541d384b",
  :name "processors-1",
  :testing-thoroughness :quick,
  :arg 1,
  :version "0-31",
  :parallel? false},
 :total-time 0.692593194,
 :sample-variance [5.296636176185357E-12 (0.0 0.0)],
 :options
 {:max-gc-attempts 100,
  :samples 6,
  :target-execution-time 100000000,
  :warmup-jit-period 5000000000,
  :tail-quantile 0.025,
  :bootstrap-size 500,
  :overhead 1.7220524107733287E-9},
 :sample-mean
 [1.706819444033713E-5 (1.0163867855820127E-5 2.3972521024854134E-5)],
 :results :fastester/benchmark-fn-results-elided}
